h2 {
  font-size: 60px;
  margin-bottom: 20px;
  line-height: 1.25;
  font-weight: bold;
  background: -webkit-linear-gradient(257deg,#05b4ff,#9baeff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 45px;
  line-height: 1.25;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(268deg,#c9f5fb,#00bcd494);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}